header {
    display: flex;
    justify-content: space-around;
    margin: 5%;

    .main-navigation {
        display: flex;
        align-items: flex-start;

        .menu-menu-1-container {
            padding: 20% 0 10% 0;
            width: 27vw;
        }
    }
}