/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Background Image */
body { 
    background: url(../../images/Background_Image.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* Homepage */
.homepage {
    .attachment-thumbnail {
        height: 100%;
        position: absolute;
        width: cover;
        z-index: 000;
    }

    form {
        .your-email{
            display: flex;
            justify-content: center;
        }

        .wpcf7-submit {
            display: flex;
            justify-content: center;
        }
    }
}

/* Gerneral content */
.entry-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Listen Now Section */
.listen-now {
    width: 83%;
    padding-bottom: 3%;
    border: solid 6px #000000;
}