/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.home {
    .content-area{
        .entry-content{
            .homepage_description {
                .description_title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .services_section {
                :only-child{
                    display: flex;
                }
            }

            .section_title {
                :only-child{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

        }
    }
}